h1 {
  font-size: 35px;
  font-style: italic;
}
p {
  font-style: italic;
  font-size: medium;
  color: rgb(2, 255, 69);
}
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: rgb(245, 233, 8);
}
body {
  background-color: rgb(108, 99, 93);
}
h1 {
  color: rgb(230, 246, 6);
}
h2 {
  color: rgb(170, 244, 9);
}
h3 {
  color: rgb(198, 246, 7);
}
a {
  font-size: 150%;
}
